
.weather-app{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 70px;   
}
.weather-forecast{
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
    text-align: center;
}
.date{
    font-size: 16px;
    color: white;
}
.temp{
    font-size: 13px;
    color: white;
}
.min-temp{
    opacity: 0.5;
    color: white;
}
.max-temp{
    color: white;
}
#input-city{
    width: 75%;
    border-radius: 35px;
    padding: 10px;
    margin: 20px;
    border-color: white;
    background-color: transparent;
    
}
#btn-search{
    border-radius: 35px;
    background-color:transparent;
    color: white;
    width: 15%;
    border-color: white;
}
#city-name{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}
#current-day{
    padding-left: 35px;
    color: white;
}
#current-time{
    text-align: right;
    padding-right: 110px;
    color: white;
}
#current-temp{
    color: white;
    padding-top: 25px;
    font-size: 50px;
}
#weather-info{
    list-style: none;
    font-size: 12px;
    text-align: left;
    padding-left: -20px;
    padding-top: 25px;
    color: white;
}
#todays-info{
    background: transparent;
    color: white;
}
.group-btn{
    font-size: 10px;
}
.footer{
    text-align: center;
    color: hotpink;
    text-decoration: none;
}
.forecast-days{
    font-size: 12px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#day-1-temp, #day-2-temp, #day-3-temp, #day-4-temp, #day-5-temp, #day-6-temp, #day-7-temp{
    font-size: 10px;
    text-align: center;
}
#day1-icon,#day2-icon,#day3-icon,#day4-icon,#day5-icon,#day6-icon,#day7-icon{
    display: block;
    margin: 0 auto;
    width: 35px;
}