
#input-city{
    width: 75%;
    border-radius: 35px;
    padding: 10px;
    margin: 20px;
    border-color: aqua;
    background-color: transparent;
    
}
#btn-search{
    border-radius: 35px;
    background-color:transparent;
    color: white;
    width: 15%;
    border-color: aqua;
}
#city-name{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}
#current-day{
    padding-left: 2cm;
    color: white;
}
#current-time{
    text-align: right;
    padding-right: 55px;
    color: white;
}
#current-temp{
    color: white;
}
#weather-info{
    list-style: none;
    font-size: 12px;
    text-align: left;
    padding-left: 90px;
    color: white;
}
#todays-info, #forcast{
    background: transparent;
    color: white;
}
