
body{
    background-color: blueviolet;
}
.weather-app{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 70px;
}
#input-city{
    width: 75%;
    border-radius: 35px;
    padding: 10px;
    margin: 20px;
    border-color: white;
    background-color: transparent;
    
}
#btn-search{
    border-radius: 35px;
    background-color:transparent;
    color: grey;
    width: 15%;
    border-color: aqua;
}
#city-name{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: grey;
}
#current-day{
    padding-left: 35px;
    color: grey;
}
#current-time{
    text-align: right;
    padding-right: 110px;
    color: grey;
}
#current-temp{
    color: grey;
    padding-top: 25px;
    font-size: 50px;
}
#weather-info{
    list-style: none;
    font-size: 12px;
    text-align: left;
    padding-left: -20px;
    padding-top: 25px;
    color: grey;
}
#todays-info{
    background: transparent;
    color: grey;
}
.group-btn{
    font-size: 10px;
}