#input-city{
    width: 75%;
    border-radius: 35px;
    padding: 10px;
    margin: 20px;
    border-color: aqua;
}
#btn-search{
    border-radius: 35px;
    background-color:transparent;
    color: black;
    width: 15%;
    border-color: aqua;
}
#city-name{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
#current-day{
    padding-left: 2cm;
}
#current-time{
    text-align: right;
    padding-right: 55px;
}